@font-face {
    font-family: 'AmaticSC';
    src: url(./../webfonts/AmaticSC-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url(./../webfonts/OpenSans-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-bg-color: #FFFBE5;
    --main-contrast-color: #FFC58E;
    --first-button-color: #ff0000;
    --second-button-color: #00ff00;
    --third-button-color: #0000ff;
    --fourth-button-color: #ffff00;
    --main-font-color: #4D2817;
    --subtitle-font-color: #21909A;
    --headings-font-family: 'AmaticSC', cursiva;
    --default-font-family: 'OpenSans', arial;
}

.hide {
    display: none !important;
}

.flex {
    display: flex;
}

html {
    background-color: var(--main-bg-color);
    font-family: var(--default-font-family);
}


body {
    font-size: 20px;
    font-family: sans-serif;
    color: var(--main-font-color);
    text-align: center;
    background-color: unset;
}

header {
    display: flex;
    justify-content: right;
    color: var(--main-font-color);
}

.header-container {
    display: flex;
    flex-direction: column;

}

.museum-name {
    display: flex;
    justify-content: right;
    text-align: right;
    flex-direction: column;

}

.logo-container {
    display: inline-block;
}

.logo-container img {
    position: absolute;
    top: 3vh;
    right: 5vw;
    height: 10vh;
    width: auto;
    z-index: 30;
}

#splash,
#selector-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    color: var(--main-font-color);
    text-transform: uppercase;
    margin-top: 3rem;
}

#splash {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

#splash .image-container {
    display: inline-block;
    margin: 0 auto;
}

#splash .image-container img {
    width: auto;
    height: 50vh;
}

#splash .title {
    font-family: var(--headings-font-family);
    font-size: 5rem;
    margin: 0 auto;
}

#splash .title span {
    color: var(--subtitle-font-color);
    font-size: 3rem;
}

#selector-container {
    flex-direction: column;
}

.selection-wrapper {
    display: inline-flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
}

.selection-wrapper>div {
    margin: 2rem 3rem;
    height: 35vh;
    width: 35vw;
}

.selection-wrapper .image>img {
    object-fit: contain;
    width: 100%;
    max-width: 35vw;
    height: auto;
    max-height: 34vh;
}

.flip-card {
    background-color: transparent;
    width: 35vw;
    height: 35vh;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card.hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}

.flip-card-front span {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.flip-card-back .image {
    backdrop-filter: 5px;
    width: 100%;
    max-width: 35vw;
    color: var(--main-font-color);
    transform: rotateY(180deg);
}

.flip-card.hover .flip-card-inner .flip-card-back .image {
    background-color: var(--main-bg-color);
    opacity: 0.5;
}

.solution-text {
    width: 100%;
    z-index: 100;
    position: absolute;
    bottom: 0;
}

.background-text {
    display: flex;
    align-content: center;
    justify-content: center;
    background: white;
    opacity: 0.75;
}

#option-1-container,
#option-2-container,
#option-3-container,
#option-4-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#option-1-container .flip-card {
    border: 5px solid var(--first-button-color);
}

#option-2-container .flip-card {
    border: 5px solid var(--second-button-color);
}

#option-3-container .flip-card {
    border: 5px solid var(--third-button-color);
}

#option-4-container .flip-card {
    border: 5px solid var(--fourth-button-color);
}

#option-1-container span,
#option-2-container span,
#option-3-container span,
#option-4-container span {
    text-transform: initial;
    color: var(--main-font-color);
}

.result-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

#congratulations {
    font-family: AmaticSC;
    font-size: 5rem;
}

#score {
    font-size: 3rem;
    font-family: Opensans;
}

#play-again {
    color: var(--main-font-color);
    margin-top: 2rem;
}

.progressbar {
    width: 80%;
    margin: 25px auto;
    border: solid 1px #000;
  }
  .progressbar .inner {
    height: 15px;
    animation: progressbar-countdown;
    animation-duration: 40s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-timing-function: linear;
  }
  @keyframes progressbar-countdown {
    0% {
      width: 100%;
      background: #0F0;
    }
    100% {
      width: 0%;
      background: #F00;
    }
  }

  .fa-times::before {
    content: "\f00d";
    position: absolute;
    color: red;
    font-size: 20rem;
    top: calc(17.5vh - 10rem);
    bottom: calc(17.5vh - 10rem);
  }