@font-face {
    font-family: "BebasNeue";
    src: url('./../webfonts/BebasNeue-Bold.otf');
  }
  @font-face {
    font-family: "DinPro";
    src: url('./../webfonts/DINPro-Bold_13934.ttf');
  }
  :root {
    --main-bg-color: #f2f2f2;
    --main-contrast-color: #0096A1;
    --first-button-color: #F39200;
    --second-button-color: #0096A1;
    --third-button-color: #D60B52;
    --main-font-color: #575756;
    --subtitle-font-color: #B0A29A;
    --correct-answer-color: #3AAA35;
    --muted-answer: #878787;
    --wrong-answer: #E30613;
    --title-font-size: 80px;
    --subtitle-font-size:50px;
    --font-default: "BebasNeue";
    --font-subtitle: "DinPro";
    --subtitle-2-font-size: 26px;
}



.hide {
    display: none !important;
}

.flex {
    display: flex;
}

html {
    background-color: var(--main-bg-color);
    font-family: var(--font-default);
}

body {
    font-size: var(--subtitle-font-size);
    font-family: var(--font-default), sans-serif;
    color: var(--main-font-color);
    text-align: center;
    background-color: unset;
}

header {
    display: flex;
    justify-content: right;
    color: var(--main-font-color);
}

header img {
    height: 230px;
    width: auto;
}

#language-container {
    line-height: var(--subtitle-font-size);
}

#language-container,
#selector-container {
    display: flex;
    justify-content: space-evenly;
    color: var(--main-font-color);
    text-transform: uppercase;
    margin-top: 3rem;

}

#selector-container {
    flex-direction: column;
    width: 50vw;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    position: relative;
    top: -75px;
}

.selection-wrapper {
    display: inline-flex;
    flex-direction: column;
    margin-left: 15%;
    max-width: 75%;
}

.selection-wrapper>div {
    margin: 2rem 3rem;
}
#language-container .round {
    margin-bottom: 20px;
}
#language-container .round,
#selector-container .round {
    width: 2.5vw;
    height: 2.5vw;
    padding: 2.5vw;
    border-radius: 5vw;
}

#language-1-container,
#language-2-container,
#language-3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#question-text {
    font-size: var(--title-font-size);
    line-height: var(--title-font-size);
    font-weight: bold;
}

#language-1-container .round,
#option-1-container .round {
    background-color: var(--first-button-color);
}

#language-2-container .round,
#option-2-container .round {
    background-color: var(--second-button-color);
}

#language-3-container .round,
#option-3-container .round {
    background-color: var(--third-button-color);
}

#language-1-container span {
    border-top: 2px solid var(--first-button-color);
    color: var(--first-button-color);
}

#language-2-container span {
    border-top: 2px solid var(--second-button-color);
    color: var(--second-button-color);
}

#language-3-container span {
    border-top: 2px solid var(--third-button-color);
    color: var(--third-button-color);
}

#language-1-container span,
#language-2-container span,
#language-3-container span {
    text-transform: initial;
    margin-top: 1rem;
    padding-top: 1rem;
    font-family: var(--font-subtitle), serif;
    font-size: var(--subtitle-2-font-size);
    line-height: var(--subtitle-2-font-size);

}


#option-1-container,
#option-2-container,
#option-3-container {
    display: flex;
    align-items: center;
    justify-content: left;
}

#option-1-container.wrong,
#option-2-container.wrong,
#option-3-container.wrong,
#option-1-container.correct,
#option-2-container.correct,
#option-3-container.correct {
    margin-left: 15px;
}

#option-1-container span,
#option-2-container span,
#option-3-container span {
    color: var(--main-font-color);
    font-size: var(--subtitle-font-size);
    line-height: var(--subtitle-font-size);
    text-transform: uppercase;
    margin:auto 0 auto 1.25vw;
    height: auto;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: left;
}
#option-1-container.inactive span,
#option-2-container.inactive span,
#option-3-container.inactive span{
    font-family: var(--font-default), serif;
    color:var(--muted-answer);
}
#option-1-container.inactive .round,
#option-2-container.inactive .round,
#option-3-container.inactive .round {
    background-color:var(--muted-answer);
}
#option-1-container.wrong span,
#option-2-container.wrong span,
#option-3-container.wrong span{
    font-family: var(--font-default), serif;
    color:var(--wrong-answer);   
}
#option-1-container.wrong .round,
#option-2-container.wrong .round,
#option-3-container.wrong .round {
    background-color:var(--wrong-answer);
}

#option-1-container.correct span,
#option-2-container.correct span,
#option-3-container.correct span {
    font-family: var(--font-default), serif;
    color:var(--correct-answer-color);
}
#option-1-container.correct .round,
#option-2-container.correct .round,
#option-3-container.correct .round {
    background-color:var(--correct-answer-color);
}

#option-1-container.selected span {
    font-family: var(--font-default), serif;
    color: var(--first-button-color);
    text-decoration: underline;

}
#option-2-container.selected span {
    font-family: var(--font-default), serif;
    color: var(--second-button-color);
    text-decoration: underline;

}
#option-3-container.selected span {
    font-family: var(--font-default), serif;
    color: var(--third-button-color);
    text-decoration: underline;
}

#timer {
    position: absolute;
    top: 0;
    height: 300px;
    width: 300px;

}

.base-timer {
    position: relative;
    width: 300px;
    height: 300px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 15px;
    stroke-dasharray: 4 2;
    stroke: var(--main-contrast-color);
  }
  
  .base-timer__path-remaining {
    stroke-width: 16px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
    color: var(--main-bg-color);
  }
  
  .base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: var(--second-button-color);
  }

  .fa-times::before,
  .fa-check::before {
    content: "\f00d";
    position: relative;
    color: white;
    left: 65px;
  }

  #face {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin: 0 auto 20px auto;
  }

  #solution-container.newbie #face,
  #solution-container.newbie #score {
      color: var(--first-button-color);
  }
  #solution-container.newbie #face {
      background-image: url('./../images/newbie.png');
      background-position: center;
      background-repeat: no-repeat;
      background-color: var(--first-button-color);
  }

  #solution-container.intermediate #face,
  #solution-container.intermediate #score {
      color: var(--second-button-color);
  }
  #solution-container.intermediate #face {
    background-image: url('./../images/intermediate.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--second-button-color);
}
#solution-container.advanced #face {
    background-image: url('./../images/advanced.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--third-button-color);
}

  #solution-container.advanced #face,
  #solution-container.advanced #score {
      color: var(--third-button-color);
  }